<h1>Instituciones</h1>
<p>Registro de instituciones donde se puede votar</p>


<div class="row ml-2">
  <%= link_to "<i class='fa fa-plus'></i> Registrar institución".html_safe, new_institution_path(), 
        remote: true, 
        class: 'btn u-btn-outline-primary u-btn-hover-v1-2 mb-2' %>
            
  <%= link_to "<i class='fa fa-users'></i> Tipos de instituciones".html_safe, institution_types_path(), 
        remote: true,
        class: 'btn u-btn-outline-pink u-btn-hover-v1-2 mb-2 ml-4' %>
  <%= link_to "<i class='fa fa-users'></i> Lista".html_safe, list_fiscal_institutions_path(format: :xlsx ), class: 'btn u-btn-outline-pink u-btn-hover-v1-2 mb-2 ml-2'%>
</div>

<%= render( partial: 'shared/table', 
            locals: { table_id: 'institutions', 
                      color: 'blue', 
                      icon: 'fa-home',
                      title: "Instituciones registradas", 
                      col_names: [ 'Tipo', 'Nombre','Localidad','Barrio','Dirección','Mesas','A cargo de','Acciones' ] }) %>

<!-- Modal para eliminar person -->
<div class="modal fade" id="modal-disable-person" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de dar de baja este afiliado ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: disable_person_path, id: 'form-disable-person') do |form| %>
          <%= form.hidden_field :person_id %>
          <%= form.submit 'Eliminar', class: 'btn u-btn-red g-mr-10' %>
          <button type="button" data-dismiss="modal" class="btn u-btn-teal g-mr-10"> Cerrar </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar person -->

<div class="modal fade" id="modal_in_institutions" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>