<p id="notice"><%= notice %></p>

<h1>Affiliated Rols</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @affiliated_rols.each do |affiliated_rol| %>
      <tr>
        <td><%= affiliated_rol.name %></td>
        <td><%= affiliated_rol.active %></td>
        <td><%= link_to 'Show', affiliated_rol %></td>
        <td><%= link_to 'Edit', edit_affiliated_rol_path(affiliated_rol) %></td>
        <td><%= link_to 'Destroy', affiliated_rol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Affiliated Rol', new_affiliated_rol_path %>
