<%= form_with(model: tables_political_party, local: true) do |form| %>
  <% if tables_political_party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tables_political_party.errors.count, "error") %> prohibited this tables_political_party from being saved:</h2>

      <ul>
      <% tables_political_party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :table_id %>
    <%= form.text_field :table_id %>
  </div>

  <div class="field">
    <%= form.label :politic_party_id %>
    <%= form.text_field :politic_party_id %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
