<%= form_with(model: @institution_type, id: 'form-institution-type') do |form| %>
  <div class="form-group row g-mb-10">
    <%= form.label :name, 'Nombre (*):', class: "col-sm-4 col-md-2 col-form-label g-mb-10" %><br>
    <div class="col-sm-6 col-md-4">
      <%= form.text_field :name, class: "form-control u-form-control", placeholder: 'Ingrese nombre' ,required: true  %>
      <small class="form-control-feedback text-danger institution_type_name"></small>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, 'Descripción ', class:'col-sm-4 col-md-2 col-form-label g-mb-10' %>
    <div class="col-sm-6 col-md-4">
      <%= form.text_area :description, class: 'form-control u-textarea-expandable g-resize-none', rows: 3 %>
      <small class="form-control-feedback text-danger institution_type_description"></small>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn u-btn-primary g-mr-10' %>
    <button type="button" class="btn u-btn-darkred" data-dismiss="modal">Cerrar</button>
  </div>
<% end %>
