<p id="notice"><%= notice %></p>

<h1>Institution Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institution_types.each do |institution_type| %>
      <tr>
        <td><%= institution_type.name %></td>
        <td><%= institution_type.description %></td>
        <td><%= institution_type.active %></td>
        <td><%= link_to 'Show', institution_type %></td>
        <td><%= link_to 'Edit', edit_institution_type_path(institution_type) %></td>
        <td><%= link_to 'Destroy', institution_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institution Type', new_institution_type_path %>
