<p id="notice"><%= notice %></p>

<h1>Table Politic Parties</h1>

<table>
  <thead>
    <tr>
      <th>Table</th>
      <th>Politic party</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_politic_parties.each do |table_politic_party| %>
      <tr>
        <td><%= table_politic_party.table %></td>
        <td><%= table_politic_party.politic_party %></td>
        <td><%= table_politic_party.active %></td>
        <td><%= link_to 'Show', table_politic_party %></td>
        <td><%= link_to 'Edit', edit_table_politic_party_path(table_politic_party) %></td>
        <td><%= link_to 'Destroy', table_politic_party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table Politic Party', new_table_politic_party_path %>
