<%= form_with(model: @vote, id: 'form-vote') do |form| %>

  <% if current_user.rol == 'fiscal_gral' %>
    <div class="form-group  row">
      <%= form.label :table_id, 'Mesa (*)', class:'col-sm-4 col-md-2 col-form-label g-mb-10' %>
      <div class="col-sm-8 col-lg-6">
        <%= form.select(:table_id, @tables.collect {|table| [table.name, table.id]}, { include_blank: true},
                        class: 'form-control select-table', required: true) %>
        <small class="form-control-feedback text-danger vote_table"></small>
      </div>
    </div>
  <% else %>
    <%= form.hidden_field :table_id, value: @table.id %>
  <% end %>

  <div class="form-group  row">
    <%= form.label :political_party_id, 'Partido (*)', class:'col-sm-4 col-md-2 col-form-label g-mb-10' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:political_party_id, @parties.collect {|party| [party.name, party.id]}, { include_blank: true},
                      class: 'form-control select-party', required: true) %>
      <small class="form-control-feedback text-danger vote_party"></small>
    </div>
  </div>

  <div class="form-group row g-mb-10">
    <%= form.label :number, 'Cantidad:', class: "col-sm-4 col-md-2 col-form-label g-mb-10" %><br>
    <div class="col-sm-6 col-md-4">
      <%= form.text_field :number, class: "form-control u-form-control", placeholder: 'Ingrese cantidad de votos' ,required: true  %>
      <small class="form-control-feedback text-danger person_name"></small>
    </div>
  </div>


  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn u-btn-primary g-mr-10' %>
    <button type="button" class="btn u-btn-darkred" data-dismiss="modal">Cerrar</button>
  </div>
<% end %>
