  <% @parties.each do |party| %>
    <div class="votes">
      <strong> <%= party.name %> </strong>
      <div class="form-group row g-mb-10">
        <% @politician_roles.each do |rol | %>
          <div class="col-sm-6 col-md-4 mt-2">
            <%= label :rol_name, rol.name %>
            <input type="text" disabled value="<%= @table.votes.where( votation_id: @votation_id,political_party_id: party.id, politician_rol_id: rol.id ).first&.number %>",
              class='form-control u-form-control'>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="votes">
    <strong> Total votos agrupaciones politicas: </strong>
    <div class="form-group row g-mb-10">
      <% @politician_roles.each do |rol | %>
        <div class="col-sm-6 col-md-4 mt-2">
          <%= label :rol_name, rol.name %>
          <input type="text" disabled value="<%= Vote.where( votation_id: @votation_id, table_id: @table.id, politician_rol_id: rol.id, category: :normal ).sum(:number) %>",
            class='form-control u-form-control'>
        </div>
      <% end %>
    </div>
  </div>

  <% @votes_categories.each do |category|%>
    <div class="votes">
        <strong> <%= category[:name] %> </strong>
        <div class="form-group row g-mb-10">
          <% @politician_roles.each do |rol | %>
            <div class="col-sm-6 col-md-4 mt-2">
              <%= label :rol_name, rol.name %>
              <input type="text" disabled value="<%= @table.votes.where( votation_id: @votation_id, category: category[:value], politician_rol_id: rol.id ).first&.number %>",
                class='form-control u-form-control'>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>

  <div class="votes">
    <strong> Total de votos: </strong>
    <div class="form-group row g-mb-10">
      <% @politician_roles.each do |rol | %>
        <div class="col-sm-6 col-md-4 mt-2">
          <%= label :rol_name, rol.name %>
          <input type="text" disabled value="<%= Vote.where( votation_id: @votation_id, table_id: @table.id, politician_rol_id: rol.id ).sum(:number) %>",
            class='form-control u-form-control'>
        </div>
      <% end %>
    </div>
  </div>

  <button type="button" class="btn u-btn-primary" data-dismiss="modal">Cerrar</button>
