<%= link_to "<i class='fa fa-plus'></i> Registrar voto".html_safe, new_vote_path(),
          class: 'btn u-btn-outline-cyan u-btn-hover-v1-2 mb-2 mr-4' %>

<div class="card g-brd-primary rounded g-mb-30">
  <h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 mb-2 rounded-0">
    <i class="fa fa-book"></i>
    Votos registrados de <%= @institution.name %>
  </h3>
   <div class="px-2  pb-2">
    <table id="votes_table" class="table table-sm table-hover dt-responsive w-100 u-table--v1" data-show='show'>
      <thead>
        <tr>
          <% @cols.each do |name| %>
            <th><%= name %></th>
          <% end %>
        </tr>
      </thead>
        
      <tbody>
        <% @tables.each do |table|%>
          <tr>
            <td> Mesa <%= table.name %> </td>
            <td><%= @political_parties.first.name %></td>
            <% @politician_rols.each do |rol| %>
              <td> <%= table.count_votes( @political_parties.first.id, rol.id ) %></td>
            <% end %>
            <td> <%= link_to 'Votos ingresados', show_by_table_vote_path( table.id ), class: 'btn btn-sm u-btn-primary text-white', remote: true %> </td>
          </tr>
          <% @political_parties.each do |party| %>
            <% next if party.id == @political_parties.first.id %>
            <tr>
              <td> Mesa <%= table.name %> </td>
              <td> <%= party.name %> </td>
              <% @politician_rols.each do |rol| %>
                <td><%= table.count_votes( party.id, rol.id ) %></td>
              <% end %>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>