<%= link_to "<i class='fa fa-plus'></i> Registrar voto".html_safe, new_vote_path(), 
          remote: true,
          class: 'btn u-btn-outline-cyan u-btn-hover-v1-2 mb-2 mr-4' %>

<div class="card g-brd-primary rounded g-mb-30">
  <h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 mb-2 rounded-0">
    <i class="fa fa-book"></i>
    Votos registrados de <%= @institution.name %>
  </h3>
   <div class="px-2  pb-2">
    <table id="votes_table" class="table table-sm table-hover dt-responsive w-100 u-table--v1" data-show='show'>
      <thead>
        <tr>
          <th>Mesa</th>
          <th>Partido</th>
          <th>Votos</th>
          <th>Acciones</th>
        </tr>
      </thead>
        
      <tbody>
        <% @data.each do |d|%>
          <tr>
            <td><%= d['table'] %></td>
            <td><%= d['party'] %></td>
            <td><%= d['votes'] %></td>
            <td> <%= link_to 'votos', show_by_table_vote_path( d['table_id'] ), class: 'btn btn-sm', remote: true %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>