<h1>Registro de votos <%= @title %></h1>

<div class="row">
  <div class="col-4">
    <h3>Mesas escrutadas: <%= @porcent_tables_closed %>%</h3>
  </div>
  <div class="col-4">
    <h3>Cerradas: <%= "#{@tables_closed} de #{@total_tables}" %></h3>
  </div>
  <div class="col-4">
    <h3>Faltan cerrar: <%= @tables_no_closed %></h3>
  </div>
</div>

<div id="graphics" class="row">
  <% @politician_rols.each do |rol| %>
    <div class="col-12 col-sm-6">
      <canvas id="grafic_rol_<%= rol.id %>" width="400" height="150" aria-label="Hello ARIA World" role="img" > <!-- grafico de barras --> </canvas>
    </div>
  <% end %>
</div>

<div class="card g-brd-blue rounded g-mb-30">
  <h3 class="card-header g-bg-blue g-brd-transparent g-color-white g-font-size-16 mb-2 rounded-0">
    <i class="fa fa-book"></i>
    Listado de votos por partido
  </h3>
   <div class="px-2  pb-2">
    <table id="votes_by_party" class="table table-sm table-hover dt-responsive w-100 u-table--v1" data-show='show'>
      <thead>
        <tr>
          <% @cols_parties.each do |name| %>
            <th><%= name %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @political_parties.each do |party| %>
          <tr>
            <td> <%= party.name %> </td>
            <% @politician_rols.each do |rol| %>
              <td><%= Vote.by_party( party.id, rol.id ) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="card g-brd-primary rounded g-mb-30">
  <h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 mb-2 rounded-0">
    <i class="fa fa-book"></i>
    Listado de votos por institucion
  </h3>
   <div class="px-2  pb-2">
    <table id="votes_table" class="table table-sm table-hover dt-responsive w-100 u-table--v1" data-show='show' data-page-length='12'>
      <thead>
        <tr>
          <% @cols.each do |name| %>
            <th><%= name %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @institutions.each do |institution| %>
          <tr>
            <td> <%= institution.name %> </td>
            <td> 
              <%= link_to "#{institution.tables_closed(@votation_id)} de #{institution.tables.actives.count}", by_institution_tables_path(institution_id: institution.id), remote: true %>
            </td>
            <% if @political_parties.count > 0 %>
              <td> <%= institution.fiscal&.name %> </td>
              <td><%= @political_parties.first.name %></td>
              <% @politician_rols.each do |rol| %>
                <td> <%= institution.count_votes( @political_parties.first.id, rol.id ) %></td>
              <% end %>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
            <% if @political_parties.count > 0 %>
              <% @political_parties.each do |party| %>
                <% next if party.id == @political_parties.first.id %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td> <%= party.name %> </td>
                  <% @politician_rols.each do |rol| %>
                    <td><%= institution.count_votes( party.id, rol.id ) %></td>
                  <% end %>
                </tr>
              <% end %>
            <%end%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="tables_by_institution" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>


<script>
  const ctx = document.getElementById('bar_grafics');
  let chart_cols = [];
  let chart_data = [];
  const colors = [
    { backgroundColor: '#FF6384', borderColor: '#FFB1C1' },
    { backgroundColor: '#36a2eb', borderColor: '#36a2eb' },
    { backgroundColor: '#4bc0c0', borderColor: '#4bc0c0' },
    { backgroundColor: '#9966ff', borderColor: '#9966ff' },
    { backgroundColor: '#ffcd56', borderColor: '#ffcd56' },
    { backgroundColor: '#ff9f40', borderColor: '#ff9f40' }
  ]
  
  let graphics = document.getElementById('graphics')

  draw_graphics()

  setInterval(draw_graphics, 30000);

  async function get_data(votation_id, rol_id, rol_name, colors) {
    let result = await fetch(`/votes/grafic_data?rol_id=${rol_id}&votation_id=${votation_id}`)
    let data = await result.json()
    chart_cols = data.chart_cols;
    chart_data = data.chart_data;
    const div_content = document.getElementById(`grafic_rol_${rol_id}`);
    let dataset = [];

    for (let i = 0; i < data.chart_data.length; i++) {
      let cosito = { label: `# ${rol_name}`, data: data.chart_data[i], borderWidth: 1, borderColor: '#36A2EB', backgroundColor: '#9BD0F5' }
      dataset.push(cosito)
    }

    new Chart(div_content, {
    type: 'bar',
    data: {
      labels: data.chart_cols,
      datasets: [{
        label: `# ${rol_name}`,
        data: data.chart_data,
        borderWidth: 1,
        backgroundColor: colors.backgroundColor, // Color de fondo
        borderColor: colors.borderColor, // Color del borde
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  }

  function draw_graphics(){
    graphics.innerHTML = ''
    let color_index = 0
    <% @politician_rols.each do |rol| %>
      graphics.innerHTML += `
        <div class="col-12 col-sm-6">
          <canvas id="grafic_rol_<%= rol.id %>" width="400" height="150" aria-label="grafico de barras" role="img" ></canvas>
        </div>
      `
    <% end %>

    <% @politician_rols.each do |rol| %>
      get_data(<%= @votation_id %>,<%= rol.id %> , "<%= rol.name %>", colors[color_index])
      color_index++
    <%end%>
  }

</script>