<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @vote.table %>
</p>

<p>
  <strong>Political party:</strong>
  <%= @vote.political_party %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
