<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @politician_rol.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @politician_rol.active %>
</p>

<%= link_to 'Edit', edit_politician_rol_path(@politician_rol) %> |
<%= link_to 'Back', politician_rols_path %>
